<% if @item %>
  <%= image_tag @item.smallimageurl %>
<% end %>

<% form_tag ({:action=>"index"}, :method=>:get) do %>
  <h3>Enter keywords:</h3>
  <%= text_field_tag(:keywords, params[:keywords]) %>
  <%= submit_tag "Search", :name => nil %>
  <h3 id="1">Results</h3>
  <%= flash[:error] %>

<% end %>

<% if @itemarray %>
  <% @itemarray.each { |item| %>
    <% form_tag(:action => :select) do %>
    <table border="0" cellspacing="5" cellpadding="5">
    <tr valign="top">
      <td>
        <% if item.get("smallimage/url") %> 
          <%= image_tag item.get("smallimage/url") %>
        <% end%>
      </td>
      <td> <%= h item.get("title") %> <br>
           by <%= h item.get("author") %><br>
           <%= link_to("Amazon link", item.get("detailpageurl")) %><br>
      </td>
    </tr>
    <tr>
      <td>
        <%= text_field_tag(:asin, params[:asin], :value => item.get("asin")) %>
        <%= submit_tag "Select from form" %>
      </td>
    </tr>
    <tr>
      <td><%= button_to 'Select button', { :action => 'select', :id => item.get("asin") } %></td>
    </tr>
    </table>
    <% end %>
  <% } %>
<% end %>
