<% if @item.largeimageurl.nil? & !@item.mediumimageurl.nil? %>
  <div id="book-cover">
    <%= link_to image_tag(@item.mediumimageurl, :alt => @item.title), @item.detailpageurl, 
                :popup => true, 
                :class => "work-it-book" %>
  </div>
<% end %>
<% unless @item.largeimageurl.nil? %>
  <div id="book-cover">
    <%= link_to image_tag(@item.largeimageurl, :alt => @item.title), @item.detailpageurl, 
                :popup => true, 
                :class => "work-it-book" %>
  </div>
<% end %>
<div id="work-it-container">
  <div id="top-parent">
    <%= image_tag "/images/arrow-med-right-up.gif", :class => "top-arrow" %>
    <%= render :partial => 'shared/item_work_buy' %>
  </div>
  <div id="middle-parent">
   <%= image_tag "/images/arrow-large.gif", :class => "middle-arrow" %>  
    <%= render :partial => 'shared/item_work_info' %>
  </div>
  <div id="bottom-parent">
    <%= image_tag "/images/arrow-small-right.gif", :class => "bottom-arrow"  %> 
    <%= render :partial => 'shared/item_work_rate' %>
  </div>
</div>