<div id="info-box">
   <div id="amazon-info">
     <span class="item-title"><%=h @item.title %></span>
     by <%=h @item.author %>
     <p><%= truncate(@item.description, :length => 1000, 
                                        :omission => link_to('. . . [more] ', @item.detailpageurl, :popup => true)
                                        ) %>
    </p>
   </div>
   <div id="avg-rating">
     <%= render :partial => "ratings/avg_rating", :locals => { :asset => @item } %>
   </div>
   <div id="other-timelines">
     <b>All Timelines</b> (<%= @item.timelines.count %>)
     <ul>
      <% @item.timeline_items.each do |ti| %>
        <li>
          <% if ti.position_type.eql? 1 %>
            <%= link_to ti.timeline.name, 
                                  :controller => 'timelines',
                                  :action => 'show',
                                  :id => ti.timeline.id,
                                  :item_id => @item.id %>
          <% else %>
            <% link_to(ti.timeline) do %>
              <%= ti.timeline.name %>
                <% if ti.position_type.eql? 2 %>
                  - Finalist
                <% end %>
            <% end %>
          <% end %>
        </li>
      <% end %>
      </ul>
   </div>
   <div id="reviews">
     <b>Reviews</b> (<%= @item.reviews.count %>)
     <% @item.reviews.each do |ior| %>
       <% if current_user %>
         <% if ior.user_id != current_user.id %>
          <p>
            <%= h ior.user.username %><br/>
            <%= h ior.content %>
          </p>
          <% end %>
        <% else %>
          <p>
            <b><%= h ior.user.username %></b><br/>
            <%= h ior.content %>
          </p>
        <% end %>  
      <% end %>
   </div>
 </div>