<div id="timelineitem-<%= timelineitem.id %>" class="timelineitem">
  <% unless timelineitem.item.mediumimageurl.nil? %>
    <%= link_to image_tag(timelineitem.item.mediumimageurl), timelineitem.item.detailpageurl, :popup => true %>
  <% end %>
  <p><%=h timelineitem.item.title %></p>
  <p>by <%=h timelineitem.item.author %></p>
  <p><%= markdown(truncate(timelineitem.item.description, :length => 1000)) %></p>
  <p class="buy"><%= link_to 'buy from amazon.com', timelineitem.item.detailpageurl, :popup => true %></p>
</div>



