<% unless @item.mediumimageurl.nil? %>
  <%= link_to image_tag(@item.mediumimageurl), @item.detailpageurl, :popup => true, :class => "work-it-book" %>
<% end %>
<div id="work-it-container">
  <div id="top-parent">
    <%= image_tag "/images/arrow-med.gif", :class => "top-arrow" %>
    <div id="top">
      Buy: <%= link_to '@amazon.com', @item.detailpageurl, :popup => true %>
    </div>
  </div>
  <div id="middle-parent">
   <%= image_tag "/images/arrow-large.gif", :class => "middle-arrow" %> 
   <div id="middle">
     <div id="amazon-info">
       <p class="item-title"><%=h @item.title %></p>
       <p>by <%=h @item.author %></p>
       <p><%= truncate(@item.description, 1000, link_to('. . . [more @amazon.com] ', @item.detailpageurl, :popup => true)) %></p>
     </div>
     <div id="other-timelines">
       <b>All Timelines<b>
       <ul>
        <% @item.timelines.each do |t| %>
          <li>
            <%= link_to t.name, :controller => 'timelines',
                                :action => 'show',
                                :id => t.id,
                                :item_id => @item.id%>
          </li>
        <% end %>
        </ul>
     </div>
   </div>
  </div>
  <div id="bottom-parent">
    <%= image_tag "/images/arrow-small-right.gif" %> 
    <div id="bottom">
      <% if current_user %>
        Rate:
        <div id="star-ratings-block">
          <%= render :partial => "ratings/rating", :locals => { :asset => @item } %>
        </div>
        Status:
        <div id="status">
          <%= collection_select(:item, :current_statusid, Status.all, :id, :description, { :prompt => true }) %>
          <%= observe_field :item_current_statusid,
                            :frequency => 0.5,
                            :url => {:controller => 'item_statuses', :action => 'create_or_update' },
                            :with => "'item_id='+#{@item.id}+'&status_id='+encodeURIComponent(value)",
                            :complete => visual_effect(:highlight, "status") %>
        </div>
        <div id="review">
          <% remote_form_for @item, :complete => visual_effect(:highlight, "review") do |i| %>
            <% @item.reviews.each do |r| %>
              <% if r.user_id == current_user.id %>
                <% i.fields_for :reviews, r do |r_fields| %>
                  <%= r_fields.hidden_field :user_id  %>
                  <%= r_fields.label :content, "Review:" %>
                  <%= r_fields.text_area :content, :rows => 15, :cols => 28 %>
                <% end %>
              <% end %>  
            <% end %>
            <%= submit_tag "Post Review" %>
            <!-- 
            <%= image_tag "/images/twitter_32.png" %>
            <%= image_tag "/images/facebook_32.png" %>
            -->
          <% end %>
        </div>
      <% else %>
      sign in to rate and review books!
      <% end %>
    </div>
  </div>
</div>