<% unless @timeline_item.item.mediumimageurl.nil? %>
  <%= link_to image_tag(@timeline_item.item.mediumimageurl), @timeline_item.item.detailpageurl, :popup => true, :class => "work-it-book" %>
<% end %>
<div id="work-it-container">
<div id="top-parent">
  <%= image_tag "/images/arrow-med.gif", :class => "top-arrow" %>
  <div id="top">
    RATE
    <div id="star-ratings-block">
        <%= render :partial => "ratings/rating", :locals => { :asset => @timeline_item.item } %>
    </div>
  </div>
</div>
<div id="middle-parent">
 <%= image_tag "/images/arrow-large.gif", :class => "middle-arrow" %> 
 <div id="middle">
   FOLLOW
   <p><%=h @timeline_item.item.title %></p>
   <p>by <%=h @timeline_item.item.author %></p>
   <p><%= @timeline_item.item.description %></p>
 </div>
</div>
<div id="bottom-parent">
  <%= image_tag "/images/arrow-small.gif" %> 
  <div id="bottom">
    BUY
    <%= link_to 'amazon.com', @timeline_item.item.detailpageurl, :popup => true %>
  </div>
</div>
</div>