<div id="rate-box">
  <% if current_user %>
    <div id="rate">
      <div id="rate-header">Rate:</div>
      <div id="star-ratings-block">
        <%= render :partial => "ratings/rating", :locals => { :asset => @item } %>
      </div>
    </div>
    <div id="status">
      <b>Status:</b>
      <%= collection_select(:item, :current_statusid, Status.all, :id, :description, { :prompt => true }) %>
      <%= observe_field :item_current_statusid,
                        :frequency => 0.5,
                        :url => {:controller => 'item_statuses', :action => 'create_or_update' },
                        :with => "'item_id='+#{@item.id}+'&status_id='+encodeURIComponent(value)",
                        :complete => visual_effect(:highlight, "status") %>
    </div>
    <div id="review">
      <% remote_form_for @item, :complete => visual_effect(:highlight, "review") do |i| %>
        <% @item.reviews.each do |r| %>
          <% if r.user_id == current_user.id %>
            <% i.fields_for :reviews, r do |r_fields| %>
              <%= r_fields.hidden_field :user_id  %>
              <b><%= r_fields.label :content, "Review:" %></b>
              <%= r_fields.text_area :content %>
            <% end %>
          <% end %>  
        <% end %>
        <%= submit_tag "Post Review" %>
        <!-- 
        <%= image_tag "/images/twitter_32.png" %>
        <%= image_tag "/images/facebook_32.png" %>
        -->
      <% end %>
    </div>
  <% else %>
  <%= link_to "SIGN IN", login_path %> or <%= link_to "SIGN UP", new_user_path %> to rate and review books!
  <% end %>
</div>