<p>Results</p>
<p style="color: green"><%= flash[:notice] %><%= flash[:error] %></p>
<% if @itemarray %>
  <% @itemarray.each { |aitem| %>
    <% form_tag(:controller => 'search', :action => :select_item) do %>
    <table border="0" cellspacing="5" cellpadding="5">
    <tr valign="top">
      <td>
        <% if aitem.get("mediumimage/url") %> 
          <%= image_tag aitem.get("mediumimage/url") %>
        <% end%>
      </td>
      <td> <%= link_to(aitem.get("title"), aitem.get("detailpageurl")) %><br/>
           by <%=h aitem.get("author") %><br/>
           <%= submit_tag 'Add to timeline', :name => nil %><br/>
           <%= markdown(aitem.get_unescaped("editorialreviews/editorialreview/content")) %>
           
      </td>
    </tr>
    <tr>
      <td>
        <%= hidden_field_tag(:asin, params[:asin], :value => aitem.get("asin")) %>
        <%= hidden_field_tag(:timelineid, params[:timelineid], :value => @timelineid) %>
        <%= hidden_field_tag(:itemid, params[:itemid], :value => @itemid) %>
      </td>
    </tr>
    <tr>
      <td></td>
    </tr>
    </table>
    <% end %>
  <% } %>
<% end %>