<% form_remote_tag :url => {:controller => 'search', :action => 'search'}, 
                   :html => { :action => url_for(:controller => "search", :action => "search") },
                   :update => "search-results" do %>
  <p>To ADD books enter keywords to search amazon.com:</p>
  <p><%= text_field_tag(:keywords, params[:keywords], :size => 50) %></p>
  <p><%= submit_tag "Search", :name => nil %></p>
  <% if @timeline %>
    <%= hidden_field_tag(:timelineid, params[:timelineid], :value => @timeline.id) %>
    <%= hidden_field_tag(:category, params[:category], :value => @timeline.category) %>
  <% else %>
    <%= hidden_field_tag(:itemid, params[:itemid], :value => @item.id) %>
    <%= hidden_field_tag(:category, params[:category], :value => @item.category.name) %>
  <% end %>
<% end %>

<p></p>

<div id="search-results">
  
</div>
