
  <% form_tag({:action=>"edit"}, :method=>:get) do %>
    <p>Enter keywords:</p>
    <%= text_field_tag(:keywords, params[:keywords]) %>
    <%= submit_tag "Search", :name => nil %>
    <p>Results</p>
    <%= flash[:error] %>
  <% end %>

  <% if @itemarray %>
    <% @itemarray.each { |aitem| %>
      <% form_tag(:action => :select_item) do %>
      <table border="0" cellspacing="5" cellpadding="5">
      <tr valign="top">
        <td>
          <% if aitem.get("mediumimage/url") %> 
            <%= image_tag aitem.get("mediumimage/url") %>
          <% end%>
        </td>
        <td> <%= link_to(aitem.get("title"), aitem.get("detailpageurl")) %><br/>
             by <%=h aitem.get("author") %><br/>
             <%= button_to 'Add to timeline', { :action => 'select_item', :id => aitem.get("asin") } %><br/>
             <%= markdown(aitem.get_unescaped("editorialreviews/editorialreview/content")) %>
             
        </td>
      </tr>
      <tr>
        <td>
          <%= hidden_field_tag(:asin, params[:asin], :value => aitem.get("asin")) %>
        </td>
      </tr>
      <tr>
        <td></td>
      </tr>
      </table>
      <% end %>
    <% } %>
  <% end %>
