<h1>Editing item</h1>

<% form_for(@item) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :itemtype %><br />
    <%= f.text_field :itemtype %>
  </p>
  <p>
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :asin %><br />
    <%= f.text_field :asin %>
  </p>
  <p>
    <%= f.label :detailpageurl %><br />
    <%= f.text_field :detailpageurl %>
  </p>
  <p>
    <%= f.label :smallimageurl %><br />
    <%= f.text_field :smallimageurl %>
    
    <% if !@item.smallimageurl.nil? %>
      <%= image_tag @item.smallimageurl %>
    <% end %>
  </p>
  <p>
    <%= f.label :mediumimageurl %><br />
    <%= f.text_field :mediumimageurl %>
    <% if !@item.mediumimageurl.nil? %>
      <%= image_tag @item.mediumimageurl %>
    <% end %>
    
  </p>
  <p>
    <%= f.label :publicationdate %><br />
    <%= f.date_select :publicationdate %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @item %> |
<%= link_to 'Back', items_path %>

<!-- search -->
<div>
  <%= render :partial => 'shared/search_item', :locals => { :timeline => nil, :item => @item }  %>
</div>

