<h1>Listing items</h1>

<table>
  <tr>
    <th></th>
    <th>ID</th>
    <th>Title</th>
    <th>Author</th>
    <th>Description</th>
    <th>Asin</th>
    <th>Detailpageurl</th>
    <th>Smallimageurl</th>
    <th>Mediumimageurl</th>
    <th>Publicationdate</th>
    <th>Type</th>
  </tr>

<% @items.each do |item| %>
  <tr valign="top">

    <td><%=h item.id %></td>
    <td><%=h item.title %></td>
    <td><%=h item.author %></td>
    <td><%=h item.itemtype %></td>
    <td><%=h item.asin %></td>
    <td><%=h item.smallimageurl %></td>
    <td><%=h item.mediumimageurl %></td>
    <td><%=h item.publicationdate %></td>
    <td><%=h item.detailpageurl %></td>
    <td><%= link_to("Amazon link", item.detailpageurl) %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New item', new_item_path %>