
  <table width="300px" class="popup">
    <tr>
      <td rowspan=3>
        <% unless @item.mediumimageurl.nil? %>
          <%= image_tag @item.mediumimageurl %>
        <% end %>
      </td>
      <td><b><%=h @item.title %></b></td>
    </tr>
    <tr>
      <td>by <%=h @item.author %></td>
    </tr>
    <tr>
      <td><%= link_to 'buy', @item.detailpageurl, :popup => true %></td>
    </tr>
    <tr>
      <td colspan=2><%= textilize(@item.description) %></td>
    </tr>
  </table>
