<p>
  <%= image_tag @item.mediumimageurl %><%= image_tag @item.smallimageurl %>
  
</p>
<p>TIMELINES
<ul>
<% @timelines.each do |timeline| %>
<li>
  <%= timeline.name %>
</li>
<% end %>
</ul></p>
<p>
  <b>ID:</b>
  <%=h @item.id %>
</p>

<p>
  <b>Title:</b>
  <%=h @item.title %>
</p>

<p>
  <b>Type:</b>
  <%=h @item.itemtype %>
</p>

<p>
  <b>Author:</b>
  <%=h @item.author %>
</p>

<p>
  <b>Description h:</b>
  <%=h @item.description %>
</p>
<p>
  <b>Description:</b>
  <%= @item.description %>
</p>

<p>
  <b>Asin:</b>
  <%=h @item.asin %>
</p>

<p>
  <b>Detailpageurl:</b>
  <%= link_to 'buy', @item.detailpageurl, :popup => true %>
</p>

<p>
  <b>Smallimageurl:</b>
  <%=h @item.smallimageurl %>
</p>

<p>
  <b>Mediumimageurl:</b>
  <%=h @item.mediumimageurl %>
</p>

<p>
  <b>Publicationdate:</b>
  <%=h @item.publicationdate %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
