<% form_tag :controller => 'search' do %>
  <h3>Enter keywords:</h3>
  <%= text_field_tag(:keywords, params[:keywords]) %>
  <%= submit_tag "Search" %>
  <h3 id="1">Results amazon-ecs</h3>
  <%= flash[:error] %>
  <table border="0" cellspacing="5" cellpadding="5">
  <% if @itemarray %>
    <% @itemarray.each { |item| %>
      <tr valign="top">
        <td>
          <% if item.get("smallimage/url") %> 
            <%= image_tag item.get("smallimage/url") %>
          <% end%>
        </td>
        <td> <%= h item.get("title") %> <br>
             by <%= h item.get("author") %></td>
      </tr>
    <% } %>
  <% end %>
  </table>
<% end %>