<h1>Editing timeline</h1>

<% form_for(@timeline) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :imageurl %><br />
    <%= f.text_field :imageurl %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @timeline %> |
<%= link_to 'Back', timelines_path %> |
<%= link_to 'Destroy', @timeline, :confirm => 'Are you sure?', :method => :delete %>