<%= link_to 'Show', @timeline %> |
<%= link_to 'Home', timelines_path %> |
<%= link_to 'Make New Timeline', new_timeline_path %> |
<%= link_to 'Destroy', @timeline, :confirm => 'Are you sure?', :method => :delete %>

<h1>Editing timeline</h1>

<% form_for(@timeline) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 10 %>
  </p>
  <p>
    <%= f.label :imageurl %><br />
    <%= f.text_field :imageurl %>
  </p>
  <p>
    <%= f.label :category %><br />
    <%= f.select  :category,
                  Timeline::TIMELINE_CATEGORIES,
                  :prompt => "Select type"
    %>
  </p>
  <p>
    <%= f.label :subcategory %><br />
    <%= f.select  :subcategory,
                  Timeline::TIMELINE_SUBCATEGORIES,
                  :prompt => "Select type"
    %>
  </p>
  <p>
    <%= f.label :featured %>
    <%= f.text_field :featured %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<div id="horizontal_carousel">
  <div class="previous_button"></div>  
  <div class="container">
    <ul id="dtimeline">
    <% @timeline.timeline_items.each do |timelineitem| %>
      <% content_tag_for :li, timelineitem do %>
          <span id="item_popup_link_<%= timelineitem.id %>" class="popup_link">
            <% unless timelineitem.item.mediumimageurl.nil? %>
              <%= link_to image_tag(timelineitem.item.mediumimageurl), edit_item_path(timelineitem.item), :popup => true %>
            <% end %>
            <% if timelineitem.item.mediumimageurl.nil? %>
              <%=h word_wrap(timelineitem.item.title, :line_width => 1) %>
            <% end %>
          </span><br/>
          <%= link_to timelineitem.position_desc, edit_timeline_item_path(timelineitem) %><br/>
      <% end %> <!-- end </li> -->
    <% end %> <!-- end timelineitem loop -->
    </ul>
  </div>
  <div class="next_button"></div>
</div>

<!-- search -->
<div id="search">
  <p>
    <%= link_to 'add to timeline', add_item_timeline_path %>
  </p>
  <%= render :partial => 'shared/search_item' %>
</div>

<!-- drag and drop -->
<%= sortable_element("dtimeline", :url => sort_timelines_path, :constraint => :horizontal)  %>

<!-- carousel -->
<script>
new UI.Carousel("horizontal_carousel");
</script>

