<%= link_to 'Show', @timeline %> |
<%= link_to 'Home', timelines_path %> |
<%= link_to 'Make New Timeline', new_timeline_path %> |
<%= link_to 'Destroy', @timeline, :confirm => 'Are you sure?', :method => :delete %>

<h1>Editing timeline</h1>

<% form_for(@timeline) do |f| %>
  <%= f.error_messages %>
  <table>
    <tr>
      <td><%= f.label :name %></td>
      <td><%= f.text_field :name, :size => 40 %></td>
      <td><%= f.label :category %></td>
      <td><%= f.select  :category,
                    Timeline::TIMELINE_CATEGORIES,
                    :prompt => "Select type"
          %>
      </td>
    </tr>
    <tr>
      <td><%= f.label :description %></td>
      <td><%= f.text_area :description, :rows => 5, :cols => 38 %></td>
      <td><%= f.label :subcategory %></td>
      <td><%= f.select  :subcategory,
                    Timeline::TIMELINE_SUBCATEGORIES,
                    :prompt => "Select type"
          %>
      </td>
    </tr>
    <tr>
      <!-- featured is admin field -->
      <td><%= f.label :featured %></td>
      <td><%= f.text_field :featured, :size => 5 %></td>
      <td><%= f.label :genre %></td>
      <td><%= f.select  :genre,
                    Timeline::TIMELINE_GENRE_BOOKS,
                    :prompt => "Select type"
          %>
      </td>
    </tr>
  </table>

  <!-- wait on image url until i build image upload 
    <p>
      <%= f.label :imageurl %>
      <%= f.text_field :imageurl %>
    </p>
  -->
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<p><%= link_to "re-sort", {:controller => "timeline_items", :action => "re_sort"}, :method => "post" %></p>

<div id="horizontal_carousel_small_<%= @timeline.id %>" class="horizontal_carousel_small">
  <div class="previous_button"></div>  
  <div class="container">
    <ul id="dtimeline">
    <% @timeline.timeline_items.each do |timelineitem| %>
      <% content_tag_for :li, timelineitem do %>
            <% if timelineitem.item.smallimageurl.nil? %>
              <%=h timelineitem.item.title %>
            <% else %>
              <%= image_tag(timelineitem.item.smallimageurl) %>
            <% end %>
          <br/>
          <div class="edit-timeline">
          <%= @timeline_item = timelineitem; 
              in_place_editor_field :timeline_item, :position_desc, {}, 
                                    :url => { :controller => 'timeline_items', 
                                              :action => 'set_timeline_item_position_desc', 
                                              :id => timelineitem.id }, 
                                    :cols => 5  %><br/>
          <span class="move">[drag]</span><br/>
          <%= link_to 'remove', { :controller => 'timeline_items', 
                                  :action => 'destroy', 
                                  :id => timelineitem.id }, 
                                  :confirm => "Are you sure?", 
                                  :method => :delete %><br/>
          </div>
      <% end %> <!-- end </li> -->
    <% end %> <!-- end timelineitem loop -->
    </ul>
  </div>
  <div class="next_button"></div>
</div>

<!-- search -->
<div id="searchedit">
  <%= render :partial => 'shared/search_item', :locals => { :featured_timline_item => @featured_timeline_item }  %>
</div>

<!-- drag and drop -->
<%= sortable_element("dtimeline", :url => { :controller => 'timeline_items', :action => 'sort' }, :constraint => :horizontal)  %>

<!-- carousel -->
<script>
new UI.Carousel("horizontal_carousel_small_"+ <%= @timeline.id %>);
</script>

