<table>
<% @timelines.each do |timeline| %>
  <tr>
    <td>
      <!--<%=h timeline.name %>-->
      <%= link_to timeline.name, timeline %>
    </td>
  </tr>
  <tr>
    <td>
    <div class="parent-container">
    <div id="horizontal_carousel_small_<%= timeline.id %>" class="horizontal_carousel_small">
      <div class="previous_button"></div>  
      <div class="container">
        <ul>
        <% timeline.timeline_items.each do |timelineitem| %>
          <% content_tag_for :li, timelineitem do %>
          <div id="timelineitem-name-<%= timelineitem.id %>" class='timelineitem-name'>
                <% if timelineitem.item.smallimageurl.nil? %>
                  <%= link_to timelineitem.item.title, :controller => 'timeline_items', 
                                                       :id => timelineitem.id,
                                                       :action => 'popup' %>
                <% else %>
                  <%= link_to image_tag(timelineitem.item.smallimageurl, :alt => timelineitem.item.title), 
                              :controller => 'timeline_items', 
                              :id => timelineitem.id,
                              :action => 'popup' %>
                <% end %>
          </div>
          <span class="posdesc">
            <% unless timelineitem.position_desc.eql? 'set' %>
              <%=h timelineitem.position_desc %>
            <% end %>
          </span>
          <% end %>
        <% end %>
        </ul>
      </div>
      <div class="next_button"></div>
    </div>
    </div>
    </td>
  </tr>
<% end %>
</table>
<!-- carousel -->
<% @timelines.each do |timeline| %>
  <script>
    new UI.Carousel("horizontal_carousel_small_"+ <%= timeline.id %>);
  </script>
<% end %>

<br />
<!--
<%= link_to 'Make One!', new_timeline_path %>
-->

<!-- google analytics javascript -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-9553779-1");
pageTracker._trackPageview();
} catch(err) {}</script>

