

<table>

<% @timelines.each do |timeline| %>
  <tr>
    <th align="left" colspan=6>
      <%=h timeline.name %>
      <!--<%= link_to timeline.name, timeline %>-->
    </th>
  </tr>
  <tr>
    <td><%=h timeline.description %></td>
  </tr>
  <tr>
    <td>
    <div id="horizontal_carousel_small_<%= timeline.id %>" class="horizontal_carousel_small">
      <div class="previous_button"></div>  
      <div class="container">
        <ul>
        <% timeline.timeline_items.each do |timelineitem| %>
          <% content_tag_for :li, timelineitem do %>
          <table>
            <tr>
              <td>
                <%= image_tag(timelineitem.item.smallimageurl) %>
              </td>
              <td>
                <% unless timelineitem.position == timeline.timeline_items.count %><% end %>
              </td>
            </tr>
            <tr>
              <td>
                <%=h timelineitem.position_desc %>
              </td>
            </tr>
            <tr>
              <td><%= link_to 'buy', timelineitem.item.detailpageurl, :popup => true %></td>
            </tr>
          </table>
          <% end %>
        <% end %>
        </ul>
      </div>
      <div class="next_button"></div>
    </div>
    </td>
  </tr>
  <tr><td height=30></td></tr>
<% end %>
</table>
<% @timelines.each do |timeline| %>
<script>
new UI.Carousel("horizontal_carousel_small_"+ <%= timeline.id %>);
</script>
<% end %>
<br />
<!--
<%= link_to 'Make One!', new_timeline_path %>
-->
