

<table>

<% @timelines.each do |timeline| %>
  <tr>
    <th align="left" colspan=6><%= link_to timeline.name, timeline %> - Follow</th>
  </tr>
  <tr>
    <td>
    <div id="horizontal_carousel_small">
      <div class="previous_button"></div>  
      <div class="container">
        <ul id="dtimeline">
        <% timeline.timeline_items.each do |timelineitem| %>
          <% content_tag_for :li, timelineitem do %>
          <table>
            <tr>
              <td>
                <%= image_tag timelineitem.item.smallimageurl %>
              </td>
              <td>-->
                </td>
            </tr>
            <tr>
              <td><%= link_to timelineitem.position_desc, edit_timeline_item_path(timelineitem) %></td>
            </tr>
          </table>
          <% end %>
          <% end %>
        </ul>
      </div>
      <div class="next_button"></div>
    </div>
    </td>
  </tr>
  <!--<tr>
    <td colspan=6>
      <%= link_to 'Show', timeline %>
      <%= link_to 'Edit', edit_timeline_path(timeline) %>
      <%= link_to 'Destroy', timeline, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>-->
  <tr><td height=50></td></tr>
<% end %>
</table>
<script>
new UI.Carousel("horizontal_carousel_small");
</script>
<br />

<%= link_to 'Make One!', new_timeline_path %>