

<table>

<% @timelines.each do |timeline| %>
  <tr>
    <th align="left" colspan=6><%= link_to timeline.name, timeline %></th>
  </tr>
   <tr>
    <% timeline.timeline_items.each do |timelineitem| %>
   
          <td>
            <table class="timeline">
              <tr>
                <td><%= link_to image_tag(timelineitem.item.smallimageurl), timelineitem.item.detailpageurl, :popup => true %></td>
                <td><img src="/images/small-arrow.png" alt="Beta Arrow"></td>
              </tr>
              <tr>
                <td><%=h timelineitem.position %></td>
              </tr>
            </table>
          </td>
        
    <% end %>
  </tr>
  <!--<tr>
    <td colspan=6>
      <%= link_to 'Show', timeline %>
      <%= link_to 'Edit', edit_timeline_path(timeline) %>
      <%= link_to 'Destroy', timeline, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>-->
  <tr><td height=50></td></tr>
<% end %>
</table>

<br />

<%= link_to 'Make One!', new_timeline_path %>