
<br/>
<table>
<% @timelines.each do |timeline| %>
  <tr>
    <th align="left" colspan=6>
      <%=h timeline.name %>
      <!--<%= link_to timeline.name, timeline %>-->
    </th>
  </tr>
  <tr>
    <td class="tldesc"><%=h timeline.description %></td>
  </tr>
  <tr>
    <td>
    <div id="horizontal_carousel_small_<%= timeline.id %>" class="horizontal_carousel_small">
      <div class="previous_button"></div>  
      <div class="container">
        <ul>
        <% timeline.timeline_items.each do |timelineitem| %>
          <% content_tag_for :li, timelineitem do %>
          <table width="40px" align="center">
            <tr>
              <td>
                <% unless timelineitem.item.smallimageurl.nil? %>
                  <%= link_to image_tag(timelineitem.item.smallimageurl), timelineitem.item.detailpageurl, :popup => true %>
                <% end %>
                <% if timelineitem.item.smallimageurl.nil? %>
                  <%=h timelineitem.item.title %>
                <% end %>
              </td>
              <td>
                <% unless timelineitem.position == timeline.timeline_items.count %><% end %>
              </td>
            </tr>
            <tr>
              <td class="tlposdesc">
                <%=h timelineitem.position_desc %>
              </td>
            </tr>
          </table>
          <% end %>
        <% end %>
        </ul>
      </div>
      <div class="next_button"></div>
    </div>
    </td>
  </tr>
  <tr><td height=30></td></tr>
<% end %>
</table>
<% @timelines.each do |timeline| %>
<script>
new UI.Carousel("horizontal_carousel_small_"+ <%= timeline.id %>);
</script>
<% end %>
<br />
<!--
<%= link_to 'Make One!', new_timeline_path %>
-->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-9553779-1");
pageTracker._trackPageview();
} catch(err) {}</script>