<h1>New timeline</h1>

<% form_for(@timeline) do |f| %>
  <%= f.error_messages %>
  <table>
    <tr>
      <td><%= f.label :name %></td>
      <td><%= f.text_field :name, :size => 40 %></td>
      <td><%= f.label :category %></td>
      <td><%= f.select  :category,
                    Timeline::TIMELINE_CATEGORIES,
                    :prompt => "Select type"
          %>
      </td>
    </tr>
    <tr>
      <td><%= f.label :description %></td>
      <td><%= f.text_area :description, :rows => 5, :cols => 38 %></td>
      <td><%= f.label :subcategory %></td>
      <td><%= f.select  :subcategory,
                    Timeline::TIMELINE_SUBCATEGORIES,
                    :prompt => "Select type"
          %>
      </td>
    </tr>
    <tr>
      <!-- featured is admin field -->
      <td><%= f.label :featured %></td>
      <td><%= f.text_field :featured, :size => 5 %></td>
      <td><%= f.label :genre %></td>
      <td><%= f.select  :genre,
                    Timeline::TIMELINE_GENRE_BOOKS,
                    :prompt => "Select type"
          %>
      </td>
    </tr>
  </table>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', timelines_path %>