<div id="tl-name">
  <h1>
    <%=h @timeline.name.upcase %> 
    <% if admin? %> 
      <%= link_to ' | edit', edit_timeline_path %> 
    <% end %>
    <% if @timeline_items_finalists.size > 0 %> 
      <a href="#" onclick="toggle_finalists()">
        | <span id="toggle_finalists">show</span> finalists
      </a>
    <% end %>
    <%= hidden_field_tag 'toggle_finalist_flag', 'show' %>
  </h1>
</div>
<div id="tl-desc">
  <%= textilize_without_paragraph(@timeline.description) %>
</div>
<div id="horizontal_carousel_small_<%= @timeline.id %>" class="horizontal_carousel_small">
  <div class="previous_button"></div>  
  <div class="container">
    <ul>
    <% @timeline.winners.each do |timelineitem| %>
      <% content_tag_for :li, timelineitem do %>
      <div id="timelineitem-name-<%= timelineitem.id %>" class="timelineitem-image">
        <% if timelineitem.item.smallimageurl.nil? %>
          <%= link_to_remote timelineitem.item.title,
                             :update => 't_item_work',
                             :url => { :controller => 'items', 
                                       :action => 'work_it', 
                                       :id => timelineitem.item.id,
                                       :timeline_id => @timeline.id },
                             :complete => "set_finalists()" 
          %>
        <% else %>
          <%= link_to_remote image_tag(timelineitem.item.smallimageurl, :alt => timelineitem.item.title),
                             :update => 't_item_work',
                             :url => { :controller => 'items', 
                                       :action => 'work_it', 
                                       :id => timelineitem.item.id,
                                       :timeline_id => @timeline.id },
                              :complete => "set_finalists()"
          %>
        <% end %>
      </div>
      <div class="posdesc">
        <% unless timelineitem.position_desc.eql? 'set' %>
          <%=h timelineitem.position_desc %>
        <% end %>
      </div>
      <% end %>
    <% end %>
    </ul>
  </div>
  <div class="next_button"></div>
</div>
<div id="t_item_work">
  <%= render :partial => 'shared/t_item_work', :locals => { :item => @item, :timeline_items_finalists => @timeline_items_finalists } %>
</div>
<!-- carousel -->
<script>
  c = new UI.Carousel("horizontal_carousel_small_"+ <%= @timeline.id %>);
  c.scrollTo(<%= @carousel_position %>);
</script>
