<p>
  <%= link_to 'Home', timelines_path %> | 
  <%= link_to 'Edit Timeline Details', edit_timeline_path(@timeline) %> | 
  <%= link_to 'Make New Timeline', new_timeline_path %>
</p>

<h1>
  <%=h @timeline.name %>
</h1>

<h3>
  <%=h @timeline.description %>
</h3>
<%=h @timeline.timeline_items.count %>
<div id="horizontal_carousel">
  <div class="previous_button"></div>  
  <div class="container">
    <ul id="dtimeline">
    <% @timeline.timeline_items.each do |timelineitem| %>
      <% content_tag_for :li, timelineitem do %>
      <table>
        <tr>
          <td>
            <%= image_tag timelineitem.item.mediumimageurl %>
          </td>
          <td>
            <% unless timelineitem.position == @timeline.timeline_items.count %> --> <% end %>
          </td>
        </tr>
        <tr>
          <td><%= link_to timelineitem.position_desc, edit_timeline_item_path(timelineitem) %>
               | <%=h timelineitem.position%>
          </td>
        </tr>
        <tr>
          <td>
            <%= link_to 'add to timeline', add_item_timeline_path %>
          </td>
        </tr>
        <tr>
          <td nowrap="true">
            <%= link_to 'buy', timelineitem.item.detailpageurl, :popup => true %>
             | info | rate</td>
        </tr>
        <tr><td></td></tr>
      </table>
      <% end %>
      
    <% end %>
    </ul>
  </div>
  <div class="next_button"></div>
</div>
<%= sortable_element("dtimeline", :url => sort_timelines_path, :constraint => :horizontal)  %>

<script>
new UI.Carousel("horizontal_carousel");
</script>

<% if flash[:item] %>
<div id="search">
Add Item by Searching
  <% form_tag ({:action=>"show"}, :method=>:get) do %>
    <p>Enter keywords:</p>
    <%= text_field_tag(:keywords, params[:keywords]) %>
    <%= submit_tag "Search", :name => nil %>
    <p>Results</p>
    <%= flash[:error] %>
  <% end %>

  <% if @itemarray %>
    <% @itemarray.each { |aitem| %>
      <% form_tag(:action => :select_item) do %>
      <table border="0" cellspacing="5" cellpadding="5">
      <tr valign="top">
        <td>
          <% if aitem.get("smallimage/url") %> 
            <%= image_tag aitem.get("smallimage/url") %>
          <% end%>
        </td>
        <td> <%= h aitem.get("title") %> <br>
             by <%= h aitem.get("author") %><br>
             <%= link_to("Amazon link", aitem.get("detailpageurl")) %><br>
             <%= button_to 'Add to timeline', { :action => 'select_item', :id => aitem.get("asin") } %>
        </td>
      </tr>
      <tr>
        <td>
          <%= hidden_field_tag(:asin, params[:asin], :value => aitem.get("asin")) %>
          
        </td>
      </tr>
      <tr>
        <td></td>
      </tr>
      </table>
      <% end %>
    <% } %>
  <% end %>
</div>
<% end %>