<div id="tl-name">
  <h1>
    <%=h @timeline.name.upcase %> <% if admin? %> | <%= link_to 'Edit', edit_timeline_path %> <% end %>
  </h1>
</div>
<div id="horizontal_carousel_small_<%= @timeline.id %>" class="horizontal_carousel_small">
  <div class="previous_button"></div>  
  <div class="container">
    <ul>
    <% @timeline.timeline_items.each do |timelineitem| %>
      <% content_tag_for :li, timelineitem do %>
      <div id="timelineitem-name-<%= timelineitem.id %>">
        <% if timelineitem.item.smallimageurl.nil? %>
          <%=h timelineitem.item.title %>
        <% else %>
          <%= link_to_remote image_tag(timelineitem.item.smallimageurl, :alt => timelineitem.item.title),
                             :update => 'item_work_it',
                             :url => { :controller => 'items', 
                                       :action => 'work_it', 
                                       :id => timelineitem.item.id,
                                       :timeline_id => @timeline.id }
          %>
        <% end %>
      </div>
      <span class="posdesc">
        <% unless timelineitem.position_desc.eql? 'set' %>
          <%=h timelineitem.position_desc %>
        <% end %>
      </span>
      <% end %>
    <% end %>
    </ul>
  </div>
  <div class="next_button"></div>
</div>
<div id="item_work_it">
    <% unless @item.nil? %>
      <%= render :partial => 'shared/item_work' %>
    <% end %>
</div>
<!-- carousel -->
<script>
  c = new UI.Carousel("horizontal_carousel_small_"+ <%= @timeline.id %>);
  c.scrollTo(<%= @carousel_position %>);
</script>
