<%= link_to 'Home', timelines_path %><% if admin? %> | <%= link_to 'Edit', edit_timeline_path %> | <% end %>

<div>
  <h1>
    <%=h @timeline.name %>
  </h1>
  <p class="tlinfo">
    <%= @timeline.description %>
  </p>
</div>

<div id="horizontal_carousel">
  <div class="previous_button"></div>  
  <div class="container">
    <ul>
    <% @timeline.timeline_items.each do |timelineitem| %>
      <% content_tag_for :li, timelineitem do %>
          <span id="item_popup_link_<%= timelineitem.id %>" class="popup_link">
            <% if timelineitem.item.mediumimageurl.nil? %>
              <%=h word_wrap(timelineitem.item.title, :line_width => 1) %>
            <% else %>
              <%= image_tag timelineitem.item.mediumimageurl, :alt => timelineitem.item.title %>
            <% end %>
          </span><br/>
          <%=h timelineitem.position_desc %><br/>
          <%= link_to 'buy', timelineitem.item.detailpageurl, :popup => true %>
      <% end %> <!-- end </li> -->
    <% end %> <!-- end timelineitem loop -->
    </ul>
  </div>
  <div class="next_button"></div>
</div>

<!-- hover pop up div -->
<% @timeline.timeline_items.each do |timelineitem| %>
  <%= render :partial => 'item_popup', :locals => {:timelineitem => timelineitem} %>
<% end %>

<!-- carousel -->
<script>
new UI.Carousel("horizontal_carousel");
</script>

