<p>
  <%= link_to 'Home', timelines_path %> | 
  <%= link_to 'Edit Timeline Details', edit_timeline_path(@timeline) %> | 
  <%= link_to 'Make New Timeline', new_timeline_path %>
</p>

<h1>
  <%=h @timeline.name %>
</h1>

<h3>
  <%=h @timeline.description %>
</h3>

<table class="timeline">
  <tr id="ttimeline">
    <% @timeline.timeline_items.each do |timelineitem| %>
    
    <% content_tag_for :td, timelineitem do %>
      <table class="timeline">
        <tr>
          <td><%= image_tag timelineitem.item.mediumimageurl %></td>
        </tr>
        <tr>
          <td><%=h timelineitem.position %></td>
        </tr>
        <tr>
          <td><%=link_to timelineitem.position, edit_timeline_item_path(timelineitem) %></td>
        </tr>
      </table>
    <% end %>
    
    <td><img src="/images/small-arrow.png" alt="Beta Arrow"></td>
    <% end %>
  </tr>
</table>
<ul id="dtimeline">
  <% @timeline.timeline_items.each do |timelineitem| %>
    <% content_tag_for :li, timelineitem do %>
      <%= image_tag timelineitem.item.mediumimageurl %>
      <img src="/images/small-arrow.png" alt="Beta Arrow">
    <% end %>
  <% end %>
</ul>
<%= sortable_element("dtimeline", :url => sort_timelines_path, :constraint => :horizontal )  %>
<%= sortable_element("ttimeline", :url => sort_timelines_path, :constraint => :horizontal, :tag => :td )  %>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<!--
<p><%= link_to 'Add Item to Timeline', :action => "add_item", :id => @timeline.id %></p> 
-->


  <% form_tag ({:action=>"show"}, :method=>:get) do %>
    <p>Enter keywords:</p>
    <%= text_field_tag(:keywords, params[:keywords]) %>
    <%= submit_tag "Search", :name => nil %>
    <p>Results</p>
    <%= flash[:error] %>
  <% end %>

  <% if @itemarray %>
    <% @itemarray.each { |item| %>
      <% form_tag(:action => :select_item) do %>
      <table border="0" cellspacing="5" cellpadding="5">
      <tr valign="top">
        <td>
          <% if item.get("smallimage/url") %> 
            <%= image_tag item.get("smallimage/url") %>
          <% end%>
        </td>
        <td> <%= h item.get("title") %> <br>
             by <%= h item.get("author") %><br>
             <%= link_to("Amazon link", item.get("detailpageurl")) %><br>
             <%= button_to 'Select button', { :action => 'select', :id => item.get("asin") } %>
        </td>
      </tr>
      <tr>
        <td>
          <%= hidden_field_tag(:asin, params[:asin], :value => item.get("asin")) %>
          
        </td>
      </tr>
      <tr>
        <td></td>
      </tr>
      </table>
      <% end %>
    <% } %>
  <% end %>
