<% if admin? %> | <%= link_to 'Edit', edit_timeline_path %> | <% end %>

<div>
  <h1>
    <%=h @timeline.name %>
  </h1>
  <p class="tlinfo">
    <%= @timeline.description %>
  </p>
</div>
<%= render :partial => 'carousel_small', :locals => { :timeline => @timeline } %>
<!-- carousel -->
<script>
  new UI.Carousel("horizontal_carousel_small_"+ <%= @timeline.id %>);
</script>
