<% form_for @category do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :amazon_index %><br />
    <%= f.text_field :amazon_index %>
  </p>
  <p>
    <%= f.label :amazon_product_group %><br />
    <%= f.text_field :amazon_product_group %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
