<h1>Listing timeline_items</h1>

<table border=1>
  <tr>
    <th>Timeline</th>
    <th>Book</th>
    <th>Position</th>
    <th>Position Desc</th>
    <th>timeline_id</th>
    <th>item_id</th>
  </tr>

<% @timeline_items.each do |timeline_item| %>
  <tr>
    <td><%=h timeline_item.timeline.name %></td>
    <td><%= image_tag timeline_item.item.smallimageurl %></td>
    <td><%=h timeline_item.position %></td>
    <td><%=h timeline_item.position_desc %></td>
    <td><%=h timeline_item.timeline_id %></td>
    <td><%=h timeline_item.item_id %></td>
    <td><%= link_to 'Show', timeline_item %></td>
    <td><%= link_to 'Edit', edit_timeline_item_path(timeline_item) %></td>
    <td><%= link_to 'Destroy', timeline_item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New timeline_item', new_timeline_item_path %>