<p>
  <b>Title:</b>
  <%=h @timeline_item.item.title %>
</p>


<p>
  <% unless @timeline_item.item.mediumimageurl.nil? %>
    <%= image_tag @timeline_item.item.mediumimageurl %>
  <% end %>
</p>

<p>
  <b>Timeline ID:</b>
  <%=h @timeline_item.timeline_id %>
</p>

<p>
  <b>Timeline Name:</b>
  <%=h @timeline_item.timeline.name %>
</p>

<p>
  <b>Item ID:</b>
  <%=h @timeline_item.item_id %>
</p>

<p>
  <b>Position:</b>
  <%=h @timeline_item.position %>
</p>

<p>
  <b>Position Desc:</b>
  <%=h @timeline_item.position_desc %>
  <%= in_place_editor_field :timeline_item, :position_desc %>
</p>


<%= link_to 'Edit', edit_timeline_item_path(@timeline_item) %> |
<%= link_to 'Back', timeline_items_path %>