<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <!-- google site verification -->
  <meta name="verify-v1" content="nKj9JvDgSK+EYKM+L5imdU3S/GfX/aD7YYGeSwJCXaQ=" />
  <title><%= title %></title>
  <%= javascript_include_tag :defaults, 'carousel', 'menu' %>
  <%= stylesheet_link_tag 'timesarrow', 'star_rating.css', 'prototype-ui.css'  %>
  <link rel="shortcut icon" href="/images/favicon.ico">
</head>
<body>
  <div id="doc">
    <div id="header">
      <%= link_to image_tag("/images/timesarrow-logo2.png", :alt => "logo"), home_path  %>
      <div id="facebook-fan">
        <%= link_to image_tag("/images/facebook.png"), "http://www.facebook.com/pages/TIMES-ARROW/269292951818" %>
        <div id="facebook-fan-text"><%= link_to "become a fan", "http://www.facebook.com/pages/TIMES-ARROW/269292951818" %></div>
      </div>
      <div id="twitter-follow">
        <%= link_to image_tag("/images/twitterbird.png"), "http://twitter.com/timesarrow" %>
        <div id="twitter-follow-text"><%= link_to "follow us", "http://twitter.com/timesarrow" %></div>
      </div>
    </div>
    <div id="navigation">
      <ul id="navbar" class="level1">
        <li class="navitem-first"><%= link_to_unless_current('ALL', timelines_path) %></li>
        <li><%= link_to_unless_current('FEATURED', home_path ) %></li>
        <li>
          <%= link_to_unless_current('AWARDS', 
                                      filtered_cat_sub_path(:category => 'book', 
                                                            :subcategory => 'awards' )) %>
          <ul class="level2" id="awards-sub-nav">
            <% @genres.each do |genre| %>
            <% if genre.subcategory.eql? 'Awards' %>
            <li>
              <%= link_to(genre.genre, filtered_cat_sub_genre_path(:category => 'book', 
                                                                 :subcategory => 'awards',
                                                                 :genre => genre.genre.downcase )) %>
            </li>
            <% end %>
            <% end %>
          </ul>
        </li>
        <li><%= link_to_unless_current('CLUBS', filtered_cat_sub_path(:category => 'book', :subcategory => 'clubs' )) %>
          <ul class="level2" id="clubs-sub-nav">
            <% @genres.each do |genre| %>
            <% if genre.subcategory.eql? 'Clubs' %>
            <li>
              <%= link_to(genre.genre, filtered_cat_sub_genre_path(:category => 'book', 
                                                                 :subcategory => 'clubs',
                                                                 :genre => genre.genre.downcase )) %>
            </li>
            <% end %>
            <% end %>
          </ul>
        </li>
        <li><%= link_to_unless_current('REVIEWS', filtered_cat_sub_path(:category => 'book', :subcategory => 'reviews' )) %>
          <ul class="level2" id="reviews-sub-nav">
            <% @genres.each do |genre| %>
            <% if genre.subcategory.eql? 'Reviews' %>
            <li>
              <%= link_to(genre.genre, filtered_cat_sub_genre_path(:category => 'book', 
                                                                 :subcategory => 'reviews',
                                                                 :genre => genre.genre.downcase )) %>
            </li>
            <% end %>
            <% end %>
          </ul>
        </li>
        <li><%= link_to_unless_current('SERIES', filtered_cat_sub_path(:category => 'book', :subcategory => 'series' )) %>
          <ul class="level2" id="series-sub-nav">
            <% @genres.each do |genre| %>
            <% if genre.subcategory.eql? 'Series' %>
            <li>
              <%= link_to(genre.genre, filtered_cat_sub_genre_path(:category => 'book', 
                                                                 :subcategory => 'series',
                                                                 :genre => genre.genre.downcase )) %>
            </li>
            <% end %>
            <% end %>
          </ul>
        </li>
        <li><%= link_to_unless_current('TOB', filtered_cat_sub_path(:category => 'book', :subcategory => 'tob' )) %>
        </li>
        <li><%= link_to_unless_current('MAKE ONE!', :controller => 'timelines', :action => 'makeone') %></li>
      </ul>
      <ul id="user_nav">
          <% if current_user %>
            <li><%= link_to "PROFILE: #{current_user.username}", edit_user_path(:current) %></li>
            <li><%= link_to "LOGOUT", logout_path %></li>
          <% else %>
            <li><%= link_to "SIGN UP", new_user_path %></li>
            <li><%= link_to "SIGN IN", login_path %></li>
          <% end %>
      </ul>
    </div>
    <div id="content">
      <div class="flash"><%= flash[:notice] %><%= flash[:error] %></div>
      <%= yield %>
    </div>
    <div id="footer">
      <ul id="copyright">
        <li><%= link_to "Suntoucher", "http://suntouchersoftware.com" %> ©2010</li>
      </ul>
      <ul id="about">
        <li><%= link_to "About", page_path("about") %></li>
        <li><%= link_to "Blog", "http://blog.times-arrow.com" %></li>
        <li><%= link_to "Follow", "http://twitter.com/timesarrow" %></li>
        <li><%= link_to "Privacy", page_path("privacy") %></li>
      </ul>
    </div>
  </div>
  <% if current_user %>
    <% unless current_user.username.eql? "kristen" %>
      <!-- google analytics -->
      <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-9553779-1");
      pageTracker._trackPageview();
      } catch(err) {}</script>
      <% end %>
  <% else %>
    <!-- google analytics -->
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-9553779-1");
    pageTracker._trackPageview();
    } catch(err) {}</script>
  <% end %>
  <script type="text/javascript" charset="utf-8">
    var is_ssl = ("https:" == document.location.protocol);
    var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
    document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
  </script>

  <script type="text/javascript" charset="utf-8">
    var is_ssl = ("https:" == document.location.protocol);
    var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
    document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
  </script>

  <script type="text/javascript" charset="utf-8">
    var feedback_widget_options = {};

    feedback_widget_options.display = "overlay";  
    feedback_widget_options.company = "times-arrow";
    feedback_widget_options.placement = "right";
    feedback_widget_options.color = "#848484";
    feedback_widget_options.style = "idea";

    var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
  </script>
  
</body>
</html>