<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <!-- google site verification -->
  <meta name="verify-v1" content="nKj9JvDgSK+EYKM+L5imdU3S/GfX/aD7YYGeSwJCXaQ=" />
  <title><%= title %></title>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag 'timesarrow' %>
  <%= stylesheet_link_tag 'prototype-ui.css' %>
  <%= javascript_include_tag "carousel" %>
  <%= javascript_include_tag 'lowpro.js' %>
  <%= javascript_include_tag 'hover_content.js' %>
  <%= stylesheet_link_tag 'hover_popup.css' %>
  <%= stylesheet_link_tag 'star_rating.css' %>
</head>
<body>
  <div id="doc">
    <div id="header">
    </div>
    <div id="navigation">
      <ul id="navbar">
        <li class="navitem-first"><%= link_to_unless_current('ALL', timelines_path) %></li>
        <li><%= link_to_unless_current('FEATURED', home_path ) %></li>
        <li>
          <%= link_to_unless_current('BOOK AWARDS', 
                                      filtered_cat_sub_path(:category => 'book', 
                                                            :subcategory => 'awards' )) %>
        </li>
        <li><%= link_to_unless_current('BOOK CLUBS', filtered_cat_sub_path(:category => 'book', :subcategory => 'clubs' )) %></li>
        <li><%= link_to_unless_current('BOOK REVIEWS', filtered_cat_sub_path(:category => 'book', :subcategory => 'reviews' )) %></li>
        <li><%= link_to_unless_current('BOOK SERIES', filtered_cat_sub_path(:category => 'book', :subcategory => 'series' )) %></li>
        <li><%= link_to_unless_current('MAKE ONE!', {:controller => 'timelines', :action => 'makeone'}) %></li>
      </ul>
      <ul id="user_nav">
          <% if current_user %>
            <li><%= link_to "PROFILE: #{current_user.username}", edit_user_path(:current) %></li>
            <li><%= link_to "LOGOUT", logout_path %></li>
          <% else %>
            <li><%= link_to "SIGN UP", new_user_path %></li>
            <li><%= link_to "SIGN IN", login_path %></li>
          <% end %>
      </ul>
    </div>
    <div id="content">
      <div class="flash"><%= flash[:notice] %><%= flash[:error] %></div>
      <%= yield %>
    </div>
  </div>
  <% if current_user %>
    <% unless current_user.username.eql? "kristen" %>
      <!-- google analytics -->
      <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-9553779-1");
      pageTracker._trackPageview();
      } catch(err) {}</script>
      <% end %>
  <% else %>
    <!-- google analytics -->
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-9553779-1");
    pageTracker._trackPageview();
    } catch(err) {}</script>
  <% end %>
  <script type="text/javascript" charset="utf-8">
    var is_ssl = ("https:" == document.location.protocol);
    var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
    document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
  </script>

  <script type="text/javascript" charset="utf-8">
    var is_ssl = ("https:" == document.location.protocol);
    var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
    document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
  </script>

  <script type="text/javascript" charset="utf-8">
    var feedback_widget_options = {};

    feedback_widget_options.display = "overlay";  
    feedback_widget_options.company = "times-arrow";
    feedback_widget_options.placement = "right";
    feedback_widget_options.color = "#848484";
    feedback_widget_options.style = "idea";

    var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
  </script>
</body>
</html>