<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Timelines: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'timesarrow' %>
  <%= stylesheet_link_tag 'prototype-ui.css' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "carousel" %>
</head>
<body>
<img src="/images/timesarrowlogo2.png" alt="time's arrow">
<h1>book collections as timelines</h1>
<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>



</body>
</html>
