<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <!-- google site verification -->
  <meta name="verify-v1" content="nKj9JvDgSK+EYKM+L5imdU3S/GfX/aD7YYGeSwJCXaQ=" />
  <title><%= title %></title>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag 'timesarrow' %>
  <%= stylesheet_link_tag 'prototype-ui.css' %>
  <%= javascript_include_tag "carousel" %>
  <%= javascript_include_tag 'lowpro.js' %>
  <%= javascript_include_tag 'hover_content.js' %>
  <%= stylesheet_link_tag 'hover_popup.css' %>
</head>
<body>
  <div id="doc">
    <div id="header">
      <%= link_to image_tag("/images/timesarrow-withtagline.gif"), root_url %>
    </div>
    <div id="navigation">
      <ul id="navbar">
        <li class="navitem-first"><%= link_to_unless_current('ALL', timelines_path) %></li>
        <li><%= link_to_unless_current('FEATURED', {:controller => 'timelines', :action => 'featured'}) %></li>
        <li><%= link_to_unless_current('BOOK CLUBS', {:controller => 'timelines', :action => 'bookclubs'}) %></li>
        <li><%= link_to_unless_current('BOOK AWARDS', {:controller => 'timelines', :action => 'bookawards'}) %></li>
        <li><%= link_to_unless_current('MAKE ONE!', {:controller => 'timelines', :action => 'makeone'}) %></li>
      </ul>
    </div>
    <div id="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
