<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= title %></title>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag 'timesarrow' %>
  <%= stylesheet_link_tag 'prototype-ui.css' %>
  <%= javascript_include_tag "carousel" %>
  <%= stylesheet_link_tag 'popup.css' %>
  <%= javascript_include_tag 'popup.js' %>
</head>
<body>
<img src="/images/timesarrowlogo2.png" alt="time's arrow"> --> alpha --> book collections as timelines --> book lovers welcome

<ul id="navbar">
  <li><%= link_to_unless_current('ALL', timelines_path) %></li>
  <li><%= link_to_unless_current('FEATURED', {:controller => 'timelines', :action => 'featured'}) %></li>
</ul>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>



</body>
</html>
